<h1><%= @artist.id ? 'Edit Artist' : 'Create Artist' %></h1>
<hr />
<%= form_for @artist do |i| %>
  <%= i.label :name %>
  <%= i.text_field :name, require: true, autofocus: true %>
  <%= i.submit %>
<% end %>